/*

according to youtube channel "frontend fyi", default font size is 16px.
setting value to 62.5% is equal to setting the font size to 10px.
using 10px makes the math easier when using "rem", which is the suggested method.

i tested this by setting the default font size in css to 62.5%, using monospace font
family, and then the chromium developer tools to inspect the format.

this showed that 8rem equals font size of 80px, which is the intended outcome; thus,
this the 62.5% font size method was shown to work as expected.

*/

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

header {
  background-color: gray;
  padding: 3rem; /* 1rem = 10px 3rem = 30 px */
  text-align: center;
  font-size: 5rem;
  color: white;
  /* border-radius: .5rem; */
}

/* create 2 columns/boxes that float next to each other */
nav.horizontal-navbar {
  width: auto;
  background: #ccc;
  padding: 1rem;
}

/* style menu list */
/*
"display: flex" and "justif-content: space-between" combine
to make horizontal menu/navbar equally spaced.
use "padding: 0 20rem;" to bring menu items in from the
left/right edges i.e. -->  <--.
*/
nav.horizontal-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20rem;
}

nav.horizontal-navbar ul li > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

article {
  float: left;
  padding: 2rem;
  width: 90%;
  height: auto;
  font-size: 1.25rem;
}

aside {
  float: left;
  padding: 0 1%;
  width: 10%;
  height: auto;
  background-color: #f1f1f1;
}

nav.aside-navbar ul {
  list-style-type: none;
}

nav.aside-navbar ul > li {
  padding: 4rem 0;
}

nav.aside-navbar ul li > a {
    text-decoration: none;
    color: #777;
    font-size: 1.25rem;
}

/* clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 1rem;
  text-align: center;
  color: white;
}

@media (max-width: 60rem) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
